<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/index}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FlyMzansi | All Mechanics</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">All Mechanics</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <table class="table datatable-button-init-add_mechanic">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Licenses</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="mechanic: ${mechanics}">
                <td>
                    <span th:if="${mechanic.image == null || mechanic.image == ''}">
                        <a id="photoButton" th:href="@{'/global_assets/images/placeholders/user.jpg'}">
                        <img th:src="@{'/global_assets/images/placeholders/user.jpg'}" class="rounded-circle mr-2" width="40" height="40"></a>
                    </span>
                    <span th:unless="${mechanic.image == null || mechanic.image == ''}">
                        <a id="aircraftPhotoButton" th:href="@{${mechanic.imagePath}}">
                        <img th:src="@{${mechanic.imagePath}}" class="rounded-circle mr-2" width="40" height="40"/></a>
                    </span>
                </td>
                <td th:text="${mechanic.firstName + ' ' + mechanic.lastName}"></td>
                <td th:text="${mechanic.email}"></td>
                <td th:text="${mechanic.license.title}"></td>
                <td><span class="badge badge-success">Active</span></td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View</a>
                                <a th:href="@{/mechanics/update-mechanic/{id}(id=${mechanic.id})}" class="dropdown-item"><i class="icon-pencil"></i> Edit</a>
                                <a th:href="@{/mechanics/update-mechamic/{id}(id=${mechanic.id})}" class="dropdown-item"><i class="icon-bin"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /whole row as a control -->

</div>
</body>
</html>