<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/index}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Mechanic</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Add Rating layout-->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Update Mechanic</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form action="#" th:action="@{/saveMechanic}" th:object="${mechanic}" method="post" enctype="multipart/form-data">
                <input hidden th:field="*{id}" th:value="${mechanic.id}">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">First Name:</label>
                    <div class="col-lg-5">
                        <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" name="firstName">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Last Name:</label>
                    <div class="col-lg-5">
                        <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" name="lastName">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Email:</label>
                    <div class="col-lg-5">
                        <input type="email" th:field="*{email}" class="form-control" placeholder="Email Address" name="email">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Cell:</label>
                    <div class="col-lg-5">
                        <input type="text" th:field="*{cell}" class="form-control" placeholder="Cell" name="cell">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Address:</label>
                    <div class="col-lg-5">
                        <input type="text" th:field="*{address}" class="form-control" placeholder="Address" name="address">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Picture:</label>
                    <div class="col-lg-5">
                        <input type="file" class="form-control-uniform-custom" placeholder="Profile Picture" id="fileImage" name="fileImage" accept="image/jpeg, image/png">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">License:</label>
                    <div class="col-lg-5">
                        <select th:field="*{license}" data-placeholder="Select a license" class="form-control select-clear" data-fouc>
                            <th:block th:each="license: ${licenses}">
                                <option th:value="${license.id}" th:text="${license.title}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">License Expiry Date:</label>
                    <div class="col-lg-5">
                        <input th:text="*{licenseExpiryDate}" class="form-control" type="date" name="licenseExpiryDate">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Medical Expiry Date:</label>
                    <div class="col-lg-5">
                        <input th:text="*{medicalExpiryDate}" class="form-control" type="date" name="medicalExpiryDate">
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Update <i class="icon-paperplane ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- /Add Course layout -->
</div>
</body>
</html>