<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/index}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FlyMzansi | All Instructors</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">All Instructors</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <table class="table datatable-button-init-add_instructor">
            <thead>
            <tr>
                <th>    </th>
                <th>Name</th>
                <th>Email</th>
                <th>Ratings</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="instructor: ${instructors}">

                <td>
                    <span th:if="${instructor.image == null || instructor.image == ''}">
                        <a id="photoButton" th:href="@{'/global_assets/images/placeholders/user.jpg'}">
                        <img th:src="@{'/global_assets/images/placeholders/user.jpg'}" class="rounded-circle mr-2" width="40" height="40"></a>
                    </span>
                    <span th:unless="${instructor.image == null || instructor.image == ''}">
                        <a id="aircraftPhotoButton" th:href="@{${instructor.imagePath}}">
                        <img th:src="@{${instructor.imagePath}}" class="rounded-circle mr-2" width="40" height="40"/></a>
                    </span>
                </td>
                <td th:text="${instructor.firstName + ' ' + instructor.lastName}"></td>
                <td th:text="${instructor.email}"></td>
                <td><a href="#" data-toggle="modal" data-target="#instructorModal">View Ratings</a></td>

                <td><span class="badge badge-success">Active</span></td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View</a>
                                <a th:href="@{/employees/instructors/update-instructor/{id}(id=${instructor.id})}" class="dropdown-item"><i class="icon-pencil"></i> Edit</a>
                                <a th:href="@{/employees/instructors/update-indtructor/{id}(id=${instructor.id})}" class="dropdown-item"><i class="icon-bin"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /whole row as a control -->

    <!-- Modal -->
    <div class="modal fade" id="instructorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Instructor's ratings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Rating ID</th>
                            <th>Ratings</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="instructor: ${instructors}">
                            <tr th:each="rating: ${instructor.ratings}">
                                <td th:text="${rating.id}"></td>
                                <td th:text="${rating.title}"></td>
                                <td th:text="${rating.description}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>