<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/index}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Exams</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">All Exams</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <table class="table datatable-button-init-add_exam">
            <thead>
            <tr>
                <th>Exam</th>
                <th>Subject</th>
                <th>Duration</th>
                <th>Pass Mark</th>
                <th>Price</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="exam: ${exams}">
                <td th:text="${exam.title}"></td>
                <td th:text="${exam.subject.title}"></td>
                <td th:text="${exam.duration}"></td>
                <td th:text="${exam.passMark}"></td>
                <td th:text="${exam.price}"></td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View</a>
                                <a th:href="@{/courses/subjects/exams/update-exam/{id}(id=${exam.id})}" class="dropdown-item"><i class="icon-pencil"></i> Edit</a>
                                <a th:href="@{/courses/subjects/exams/delete-exam/{id}(id=${exam.id})}" class="dropdown-item"><i class="icon-bin"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /whole row as a control -->
</div>
</body>
</html>