{% include "head.html" %}
{% load static %}

	<!-- Main navbar -->
	{% include "small_navbar.html" %}
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">

				<!-- Password Sent Message -->

					<div class="card mb-0">
						<div class="card-body">
							<div class="text-center mb-3">
								<i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="mb-0">Password Reset Email Sent</h5>
								<span class="d-block text-muted">We have sent you password reset information. Please check your email.</span>
							</div>

						</div>
					</div>

				<!-- /password sent message -->

			</div>
			<!-- /content area -->


			<!-- Footer -->
			{% include "footer.html" %}
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
