<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/index}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Aircraft</title>
</head>
<body>
<div layout:fragment="content">

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">All Aircraft</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <table class="table datatable-button-init-add_aircraft">
            <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Registration</th>
                <th>Colour</th>
                <th>Type</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="aircraft: ${aircrafts}">
                <td>
                    <span th:if="${aircraft.image == null || aircraft.image == ''}">
                        <a id="photoButton1" th:href="@{'/global_assets/images/placeholders/pane_placeholder2.png'}">
                        <img th:src="@{'/global_assets/images/placeholders/plane_placeholder2.png'}" width="40" height="40"></a>
                    </span>
                    <span th:unless="${aircraft.image == null || aircraft.image == ''}">
                        <a id="aircraftPhotoButton1" th:href="@{${aircraft.imagePath}}">
                        <img th:src="@{${aircraft.imagePath}}" width="40" height="40"/></a>
                    </span>
                </td>

                <td th:text="${aircraft.title}"><a href="#"></a></td>
                <td th:text="${aircraft.registration}">Place Holder</td>
                <td th:text="${aircraft.colour}">Course</td>
                <td th:text="${aircraft.aircraftType.title}"></td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" id="sweet_combine"><i class="icon-file-pdf"></i> View</a>
                                <a th:href="@{/aircrafts/update-aircraft/{id}(id=${aircraft.id})}" class="dropdown-item"><i class="icon-pencil"></i> Edit</a>
                                <a th:href="@{/aircrafts/delete-aircraft/{id}(id=${aircraft.id})}" class="dropdown-item"><i class="icon-bin"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /whole row as a control -->



</div>

<div class="modal fade" tabindex="-1" role="dialog" id="photoButton">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="aircraftPhotoButton" src="" width="90%" height="90%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>