<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/index}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Aircraft</title>
</head>
<body>
<div layout:fragment="content">

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">All Aircraft</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <table class="table datatable-button-init-add_aircraft">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Registration</th>
                <th>Colour</th>
                <th>Type</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="aircraft: ${aircrafts}">
                <td th:text="${aircraft.id}"></td>
                <td th:text="${aircraft.title}"><a href="#"></a></td>
                <td th:text="${aircraft.registration}">Place Holder</td>
                <td th:text="${aircraft.colour}">Course</td>
                <td th:text="${aircraft.aircraftType.title}"></td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" id="sweet_combine"><i class="icon-file-pdf"></i> View</a>
                                <a th:href="@{/aircrafts/update-aircraft/{id}(id=${aircraft.id})}" class="dropdown-item"><i class="icon-pencil"></i> Edit</a>
                                <a th:href="@{/aircrafts/delete-aircraft/{id}(id=${aircraft.id})}" class="dropdown-item"><i class="icon-bin"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /whole row as a control -->

</div>
</body>
</html>