{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!-- Add Briefing Booking layout-->
<div class="card">
	<div class="card-header header-elements-inline">
		<h5 class="card-title">Book A Briefing Session</h5>
		<div class="header-elements">
			<div class="list-icons">
				<a class="list-icons-item" data-action="collapse"></a>
				<a class="list-icons-item" data-action="reload"></a>
				<a class="list-icons-item" data-action="remove"></a>
			</div>
		</div>
	</div>

	<div class="card-body">
		<form action="" method="post">
		{% csrf_token %}
			<div class="form-group row">
				<label class="col-lg-3 col-form-label">Student:</label>
				<div class="col-lg-9">
					{% render_field form.briefing_student class="form-control form-control-select2" data-placeholder="Select Student" %}
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-3 col-form-label">Instructor:</label>
				<div class="col-lg-9">
					{% render_field form.briefing_instructor class="form-control form-control-select2" data-placeholder="Select Instructor" %}
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-3 col-form-label">Briefing Room:</label>
				<div class="col-lg-9">
					{% render_field form.briefing_room class="form-control form-control-select2" data-placeholder="Select a Briefing Room" %}
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-3 col-form-label">Start Time:</label>
				<div class="col-lg-9">
					{% render_field form.start_time class="form-control" id="ButtonCreationDemoInput" %}
					<span class="form-text text-muted">Format must be YYYY-MM-DD HH:MM:SS</span>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-lg-3 col-form-label">End Time:</label>
				<div class="col-lg-9">
					{% render_field form.end_time class="form-control" id="ButtonCreationDemoInput" %}
					<span class="form-text text-muted">Format must be YYYY-MM-DD HH:MM:SS</span>
				</div>
			</div>

			<div class="text-right">
				<button type="submit" class="btn btn-primary">Submit form <i class="icon-paperplane ml-2"></i></button>
			</div>
		</form>
	</div>
</div>
<!-- /Add Course layout -->

{% endblock content %}