{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Whole row as a control -->
<div class="card">
	<div class="card-header header-elements-inline">
		<h5 class="card-title">All Ground School Bookings</h5>
		<div class="header-elements">
			<div class="list-icons">
				<a class="list-icons-item" data-action="collapse"></a>
				<a class="list-icons-item" data-action="reload"></a>
				<a class="list-icons-item" data-action="remove"></a>
			</div>
		</div>
	</div>

	<table class="table datatable-button-init-ground-school_booking">
		<thead>
			<tr>
				<th>Student</th>
				<th>Ground School</th>
				<th>Ground School Date</th>
				<th>Status</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>

		{% for ground_school_booking in ground_school_bookings %}
			<tr>
				<td>{{ground_school_booking.student}}</td>
				<td><a href="#">{{ground_school_booking.ground_school.title}}</a></td>
				<td>{{ground_school_booking.ground_school.start_time}}</td>
				<td><span class="badge badge-success">Paid</span></td>
				<td class="text-center">
					<div class="list-icons">
						<div class="dropdown">
							<a href="#" class="list-icons-item" data-toggle="dropdown">
								<i class="icon-menu9"></i>
							</a>

							<div class="dropdown-menu dropdown-menu-right">
								<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View</a>
								<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Edit</a>
								<a href="#" class="dropdown-item"><i class="icon-file-word"></i> Delete</a>
							</div>
						</div>
					</div>
				</td>
			</tr>
		{% endfor %}

		</tbody>
	</table>
</div>
<!-- /whole row as a control -->

{% endblock content %}