<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/index}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Rooms</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">All Rooms</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <table class="table datatable-button-init-add_room">
            <thead>
            <tr>
                <th>Room</th>
                <th>Description</th>
                <th>Seats</th>
                <th>Category</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="room: ${rooms}">
                <td th:text="${room.title}"><a href="#"></a></td>
                <td th:text="${room.description}"></td>
                <td th:text="${room.seats}"></td>
                <td th:text="${room.roomCategory.title}"></td>
                <td th:text="${room.status}"></td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> View</a>
                                <a th:href="@{/rooms/update-room/{id}(id=${room.id})}" class="dropdown-item"><i class="icon-pencil"></i> Edit</a>
                                <a th:href="@{/rooms/delete-room/{id}(id=${room.id})}" class="dropdown-item"><i class="icon-bin"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /whole row as a control -->
</div>
</body>
</html>