{% extends "base.html" %}
{% load static %}
{% block content %}

                <!-- Whole row as a control -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">ATPL Subjects</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<table class="table datatable-responsive-row-control">
						<thead>
							<tr>
								<th>Subject</th>
								<th>Course</th>
								<th>Ground School Date</th>
								<th>Status</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>

						{% for subject in atpl_subject_list %}

							<tr>
								<td>{{subject.title}}</td>
								<td><a href="#">{{subject.course}}</a></td>
								<td>Place Holder</td>
								<td><span class="badge badge-success">Active</span></td>
								<td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												<a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
												<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
												<a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a>
											</div>
										</div>
									</div>
								</td>
							</tr>

 						{% endfor %}

						</tbody>
					</table>
				</div>
				<!-- /whole row as a control -->

{% endblock content %}