{% extends "base.html" %}
{% load static %}
{% block content %}

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="w-100 overflow-auto order-2 order-md-1">

						<!-- Course overview -->
						<div class="card">
							<div class="card-header header-elements-md-inline">
								<h5 class="card-title">Data Governance course</h5>

								<div class="header-elements">
									<ul class="list-inline list-inline-dotted mb-0 mt-2 mt-md-0">
										<li class="list-inline-item">Rating: <span class="font-weight-semibold">4.85</span></li>
										<li class="list-inline-item">
											<i class="icon-star-full2 font-size-base text-warning-300"></i>
											<i class="icon-star-full2 font-size-base text-warning-300"></i>
											<i class="icon-star-full2 font-size-base text-warning-300"></i>
											<i class="icon-star-full2 font-size-base text-warning-300"></i>
											<i class="icon-star-full2 font-size-base text-warning-300"></i>
											<span class="text-muted ml-1">(439)</span>
										</li>
									</ul>
			                	</div>
							</div>

							<div class="nav-tabs-responsive bg-light border-top">
								<ul class="nav nav-tabs nav-tabs-bottom flex-nowrap mb-0">
									<li class="nav-item"><a href="#course-overview" class="nav-link active" data-toggle="tab"><i class="icon-menu7 mr-2"></i> Overview</a></li>
									<li class="nav-item"><a href="#course-attendees" class="nav-link" data-toggle="tab"><i class="icon-people mr-2"></i> Students</a></li>
									<li class="nav-item"><a href="#course-enroll" class="nav-link" data-toggle="tab"><i class="icon-calendar3 mr-2"></i> Enroll</a></li>
								</ul>
							</div>

							<div class="tab-content">
								<div class="tab-pane fade show active" id="course-overview">
									<div class="card-body">
										<div class="mt-1 mb-4">
											<h6 class="font-weight-semibold">Course overview</h6>
											<p>Then sluggishly this camel learned woodchuck far stretched unspeakable notwithstanding the walked owing stung mellifluously glumly rooster more examined one that combed until a less less witless pouted up voluble timorously glared elaborate giraffe steady while grinned and got one beaver to walked.</p>
										</div>
					                    <h6 class="font-weight-semibold">Course program</h6>
									</div>

									<div class="table-responsive">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Lessons</th>
													<th>Name</th>
													<th>Description</th>
													<th>Duration</th>
													<th>Status</th>
													<th>Date</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td><a href="#">Introduction</a></td>
													<td>One morning, when Gregor Samsa woke from troubled dreams, he found himself</td>
													<td>10 hours</td>
													<td><span class="badge bg-secondary">Closed</span></td>
													<td>Oct 21st, 2016</td>
												</tr>
												<tr>
													<td>2</td>
													<td><a href="#">Design tools</a></td>
													<td>He lay on his armour-like back, and if he lifted his head a little he could</td>
													<td>20 hours</td>
													<td><span class="badge bg-primary">Registration</span></td>
													<td>Oct 22nd, 2016</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div class="tab-pane fade" id="course-attendees">
									<div class="card-body">
										<div class="row">
											<div class="col-xl-3 col-md-6">
												<div class="card card-body">
													<div class="media">
														<div class="mr-3">
															<a href="#">
																<img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="42" height="42" alt="">
															</a>
														</div>

														<div class="media-body">
															<h6 class="mb-0">Hanna Dorman</h6>
															<span class="text-muted">UX/UI designer</span>
														</div>

														<div class="ml-3 align-self-center">
															<div class="list-icons">
										                    	<div class="list-icons-item dropdown">
											                    	<a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
											                    	<div class="dropdown-menu dropdown-menu-right">
																		<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Start chat</a>
																		<a href="#" class="dropdown-item"><i class="icon-phone2"></i> Make a call</a>
																		<a href="#" class="dropdown-item"><i class="icon-mail5"></i> Send mail</a>
																		<div class="dropdown-divider"></div>
																		<a href="#" class="dropdown-item"><i class="icon-statistics"></i> Statistics</a>
																	</div>
										                    	</div>
									                    	</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-xl-3 col-md-6">
												<div class="card card-body">
													<div class="media">
														<div class="mr-3">
															<a href="#">
																<img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="42" height="42" alt="">
															</a>
														</div>

														<div class="media-body">
															<h6 class="mb-0">Benjamin Loretti</h6>
															<span class="text-muted">Network engineer</span>
														</div>

														<div class="ml-3 align-self-center">
															<div class="list-icons">
										                    	<div class="list-icons-item dropdown">
											                    	<a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
											                    	<div class="dropdown-menu dropdown-menu-right">
																		<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Start chat</a>
																		<a href="#" class="dropdown-item"><i class="icon-phone2"></i> Make a call</a>
																		<a href="#" class="dropdown-item"><i class="icon-mail5"></i> Send mail</a>
																		<div class="dropdown-divider"></div>
																		<a href="#" class="dropdown-item"><i class="icon-statistics"></i> Statistics</a>
																	</div>
										                    	</div>
									                    	</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-xl-3 col-md-6">
												<div class="card card-body">
													<div class="media">
														<div class="mr-3">
															<a href="#">
																<img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="42" height="42" alt="">
															</a>
														</div>

														<div class="media-body">
															<h6 class="mb-0">Vanessa Aurelius</h6>
															<span class="text-muted">Front end guru</span>
														</div>

														<div class="ml-3 align-self-center">
															<div class="list-icons">
										                    	<div class="list-icons-item dropdown">
											                    	<a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
											                    	<div class="dropdown-menu dropdown-menu-right">
																		<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Start chat</a>
																		<a href="#" class="dropdown-item"><i class="icon-phone2"></i> Make a call</a>
																		<a href="#" class="dropdown-item"><i class="icon-mail5"></i> Send mail</a>
																		<div class="dropdown-divider"></div>
																		<a href="#" class="dropdown-item"><i class="icon-statistics"></i> Statistics</a>
																	</div>
										                    	</div>
									                    	</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-xl-3 col-md-6">
												<div class="card card-body">
													<div class="media">
														<div class="mr-3">
															<a href="#">
																<img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" width="42" height="42" alt="">
															</a>
														</div>

														<div class="media-body">
															<h6 class="mb-0">William Brenson</h6>
															<span class="text-muted">Chief officer</span>
														</div>

														<div class="ml-3 align-self-center">
															<div class="list-icons">
										                    	<div class="list-icons-item dropdown">
											                    	<a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
											                    	<div class="dropdown-menu dropdown-menu-right">
																		<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Start chat</a>
																		<a href="#" class="dropdown-item"><i class="icon-phone2"></i> Make a call</a>
																		<a href="#" class="dropdown-item"><i class="icon-mail5"></i> Send mail</a>
																		<div class="dropdown-divider"></div>
																		<a href="#" class="dropdown-item"><i class="icon-statistics"></i> Statistics</a>
																	</div>
										                    	</div>
									                    	</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="d-flex justify-content-center mt-3 mb-3">
											<ul class="pagination">
												<li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-right"></i></a></li>
												<li class="page-item active"><a href="#" class="page-link">1</a></li>
												<li class="page-item"><a href="#" class="page-link">2</a></li>
												<li class="page-item"><a href="#" class="page-link">3</a></li>
												<li class="page-item"><a href="#" class="page-link">4</a></li>
												<li class="page-item"><a href="#" class="page-link">5</a></li>
												<li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-left"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="course-enroll">
									<div class="card-body">
										<div class="schedule"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- /course overview -->

							<!-- Course enrollment form -->
							<div class="card">
								<div class="card-header header-elements-inline">
									<h5 class="card-title">Enroll</h5>
									<div class="header-elements">
										<div class="list-icons">
											<a class="list-icons-item" data-action="collapse"></a>
											<a class="list-icons-item" data-action="reload"></a>
											<a class="list-icons-item" data-action="remove"></a>
										</div>
									</div>
								</div>

								<div class="card-body">
									<form action="#">
										<div class="row">
											<div class="col-md-6">
												<fieldset>

													<div class="form-group row">
														<label class="col-lg-3 col-form-label">Student:</label>
														<div class="col-lg-9">
															<select data-placeholder="Select user" class="form-control form-control-select2" data-fouc>
																<option></option>
																<optgroup label="Users">
																	{% for user in users %}
																		<option value="AK">{{user.first_name}} {{user.last_name}}</option>
																	{% endfor %}
																</optgroup>
															</select>
														</div>
													</div>

													<div class="form-group row">
														<label class="col-lg-3 col-form-label">Course:</label>
														<div class="col-lg-9">
															<input type="text" placeholder="Course" class="form-control" readonly>
														</div>
													</div>

												</fieldset>
											</div>

											<div class="col-md-6">
												<fieldset>

													<div class="form-group row">
														<label class="col-lg-3 col-form-label">Instructor:</label>
														<div class="col-lg-9">
															<select data-placeholder="Select Instructor" class="form-control form-control-select2" data-fouc>
																<option></option>
																<optgroup label="Instructors">
																	{% for instructor in instructor_list %}
																		<option value="AK">{{instructor.accounts_account.first_name}} {{instructor.accounts_account.last_name}}</option>
																	{% endfor %}
																</optgroup>
															</select>
														</div>
													</div>

													<div class="form-group row">
														<label class="col-lg-3 col-form-label">Flying Time:</label>
														<div class="col-lg-9">
															<input type="text" placeholder="HH:MM" class="form-control">
														</div>
													</div>
												</fieldset>
											</div>
										</div>

										<div class="text-right">
											<button type="submit" class="btn btn-primary">Register Student <i class="icon-paperplane ml-2"></i></button>
										</div>
									</form>
								</div>
							</div>
							<!-- /Course enrollment form -->
					</div>
					<!-- /left content -->

					<!-- Right sidebar component -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						<!-- Sidebar content -->
						<div class="sidebar-content">

							<!-- Course details -->
							<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="text-uppercase font-size-sm font-weight-semibold">Next Ground School</span>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
				                		</div>
			                		</div>
								</div>

								<table class="table table-borderless table-xs border-top-0 my-2">
									<tbody>
										<tr>
											<td class="font-weight-semibold">Subject:</td>
											<td class="text-right">Principles of flight </td>
										</tr>
										<tr>
											<td class="font-weight-semibold">Duration:</td>
											<td class="text-right">10 hours</td>
										</tr>
										<tr>
											<td class="font-weight-semibold">Status:</td>
											<td class="text-right">
												<span class="badge bg-primary">Registration</span>
											</td>
										</tr>
										<tr>
											<td class="font-weight-semibold">Date:</td>
											<td class="text-right">Nov 1st, 2016</td>
										</tr>
										<tr>
											<td class="font-weight-semibold">Time:</td>
											<td class="text-right">09:00</td>
										</tr>
										<tr>
											<td class="font-weight-semibold">Lessons:</td>
											<td class="text-right">12 lessons</td>
										</tr>
										<tr>
											<td class="font-weight-semibold">Trainer:</td>
											<td class="text-right"><a href="#">Eugene Kopyov</a></td>
										</tr>
										<tr>
											<td class="font-weight-semibold">Attendees:</td>
											<td class="text-right">382 people</td>
										</tr>
										<tr>
											<td class="font-weight-semibold">Rating:</td>
											<td class="text-right text-muted">
												<i class="icon-star-full2 font-size-base text-warning-300"></i>
												<i class="icon-star-full2 font-size-base text-warning-300"></i>
												<i class="icon-star-full2 font-size-base text-warning-300"></i>
												<i class="icon-star-full2 font-size-base text-warning-300"></i>
												<i class="icon-star-full2 font-size-base text-warning-300"></i>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /course details -->

							<!-- Latest Students -->
							<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="text-uppercase font-size-sm font-weight-semibold">Latest Students</span>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
				                		</div>
			                		</div>
								</div>

								{% for student in student_list %}
									<div class="card-body">
										<ul class="media-list">
											<li class="media">
												<a href="#" class="mr-3">
													<img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
												</a>
												<div class="media-body">
													<a href="#" class="media-title font-weight-semibold text-default">{{student.accounts_account.first_name}} {{student.accounts_account.last_name}}</a>
													<div class="font-size-sm text-muted">Santa Ana, CA.</div>
												</div>
												<div class="ml-3 align-self-center">
													<span class="badge badge-mark border-success"></span>
												</div>
											</li>
										</ul>
									</div>
								{% endfor %}

							</div>
							<!-- /latest attendees -->


							<!-- Our Instructors -->
							<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="text-uppercase font-size-sm font-weight-semibold">Our Instructors</span>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
				                		</div>
			                		</div>
								</div>

							{% for instructor in instructor_list %}
								<div class="card-body">
									<ul class="media-list">
										<li class="media">
											<a href="#" class="mr-3">
												<img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
											</a>

											<div class="media-body">
												<div class="font-weight-semibold">{{instructor.accounts_account.first_name}} {{instructor.accounts_account.last_name}}</div>
												<span class="font-size-sm text-muted">Web developer</span>
											</div>

											<div class="ml-3 align-self-center">
												<div class="dropdown">
													<a href="#" class="text-default dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-more2"></i></a>
													<div class="dropdown-menu dropdown-menu-right">
														<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Start chat</a>
														<a href="#" class="dropdown-item"><i class="icon-phone2"></i> Make a call</a>
														<a href="#" class="dropdown-item"><i class="icon-mail5"></i> Send mail</a>
														<div class="dropdown-divider"></div>
														<a href="#" class="dropdown-item"><i class="icon-stars"></i> Rate trainer</a>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							{% endfor %}
							</div>
							<!-- /our trainers -->
						</div>
						<!-- /sidebar content -->

					</div>
					<!-- /right sidebar component -->

				</div>
				<!-- /inner container -->

{% endblock content %}